.wrapper p{
  position: relative;
    background-color: brown;
    font-weight: bold;
    
}

.wrapper1 h3{
  position: relative;
    background-color: white;
    font-weight: bold;
    
}


.wrapper p{
  position: relative;
    background-color: brown;
    font-weight: bold;
    
}


.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: orange
}


.icon-bar {
    width: 100%; /* Full-width */
    height: 100%;
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 33.33%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}