<div id="myCarousel" class="carousel slide" ng-app="scotchApp" ng-controller="mainController">

    <div ng-repeat="item in christmas.rows | filter: {key : whichItem }">								
    <h4 class="title"><strong>RECIPE</strong> DETAIL</h4>							   
        
        <div class="span7">
             <h4 class="title"><strong>{{item.value.name}}</strong></h4>			
            <p><a><img ng-src="{{item.value.imageURL}}" alt=""/></a></p>
            
        </div>

        <div class="span7">
         <h4 class="title" align="left"><strong>INCREADINS</strong></h4>	
          <ul class="my-nav item-text-wrap"  ng-repeat="inc in item.value">
            <li><h2>{{inc.ingredients}}</h2></li>
            </ul>

        </div>
         
             
        </div>	
    </div>
                    
                       