<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>{{title}}</h1>
		<p> 
		
		<div class="well">
			<div class="alert alert-success">
				Mail me: muni[at]smarttutorials.net
			</div>
		</div>
		
		</p>
	</div>
</div>