<div id="myCarousel" class="carousel slide" ng-app="scotchApp" ng-controller="mainController">

   <div class="block">								
    <h4 class="title"><strong>DESSERT </strong>RECIPE</h4>								
     <div class="row">
				<div class="span3">
					<form method="POST" class="search_form">
						<input type="text" ng-model="query" class="input-block-level search-query" Placeholder="Recipe Search">
                         
					</form>
				</div>
				
			</div>
        <br>
        <br>
        
        
        
     <ul class="thumbnails">												
       <li class="span3"  ng-repeat='item in onam.rows | filter: query  '>
        <div class="product-box"  >
            <span class="sale_tag"></span>
            <p><a href="#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt="" style="height:150px;"/></a></p>

            <p class="price" href="#/chicken/{{(item.id)}}">{{item.value.name | limitTo:20}}</p>
            
     
        </div>
        </li>
    </ul>			
    </div>
</div>    