<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1><a target="_blank" href="http://www.smarttutorials.net/php-quiz-script/">{{title}}</a></h1>
	    <br>
	    <img alt="PHP Quiz Script" src="http://www.smarttutorials.net/wp-content/uploads/2015/02/php-quiz-script.png" class="img-responsive img-thumbnail">
		<br><br>
		<div class="text-center">
			<a target="_blank" title="php quiz script demo" style="padding: 15px 50px;" class="btn btn-default btn-success" href="http://demo.smarttutorials.net/php-quiz-code/">PHP Quiz Script Demo </a>
		</div>
		<br>
		<div class="well text-center">
				<p>Login email/ Password : muni@quiz.com/123</p>
		</div>
		
		<div class="text-center">
			<a class="btn btn-success btn-demo-success" target="_blank" href="http://www.smarttutorials.net/php-quiz-script/#checkoutp"> Get this Responsive PHP Quiz Script </a>
		</div>
		
		<blockquote>
			<h2> Features:</h2>
			<ol>
				<li>Now users can share his/her results on Social networks (Facebook, Twitter, Google Plus, Reddit and Linkedin).</li>
				<li>The Quiz result page will contain all questions answered by the user along with correct answer.</li>
				<li>The Quiz result manage Grid has unique link to each taken Quiz result page, So user can refer his last Quiz results.</li>
				<li>The User can sort Quiz results on manage Grid using quiz taken date.</li>
	
				<li>This online Quiz Application has user login, registration and forget password functionality.</li>
				<li>User can able to view their previous quiz results.</li>
				<li>Each questions can have minimum two options or maximum of six options.</li>
				<li>This online PHP Quiz Application has session message system to indicate success or failure of the user actions.</li>
				<li>Removed old timer, and added new javascript or jQuery timer countdown with very few lines of code.</li>
				<li>User has my account page where user can able to change his password.</li>
				<li>This php quiz system has warning popup when user want to leave in mid of his current Quiz test.</li>
			</ol>
		</blockquote>
		<br>
		<br>
		<div class="text-center">
			<a class="btn btn-success btn-demo-success" target="_blank" href="http://www.smarttutorials.net/php-quiz-script/#checkoutp"> Get this Responsive PHP Quiz Script </a>
		</div>
		<br>
		<br><br>
		<br>
	
	</div>
</div>