<div id="myCarousel" class="carousel slide" ng-app="scotchApp" ng-controller="mainController">
  
    <div ng-repeat="item in onam.rows | filter: {id : whichItem1 }">								
    <h4 class="title"><strong>RECIPE</strong> DETAIL</h4>							   
        
            <div class="span7">
                 <h4 class="title"><strong>{{item.value.name}}</strong></h4>			
                <p><a><img ng-src="{{item.value.imageURL}}" alt=""/></a></p>

            </div>
            
          
           <div class="span7">
                <h4 class="title" align="left"><strong> Details</strong></h4>	
                 <p  class="span7" style="font-family:verdana;background-color: white"  ng-show="item.value.uploadedby">Prepared By:-  {{item.value.uploadedby}}</p>
               <p  class="span7" style="font-family:verdana;background-color: white"  ng-show="item.value.date">Upload Date:-  {{item.value.date}}</p>
               
            </div>
        
        
        
        
        
           <div class="span7" ng-show="item.value.details">
                <h4 class="title" align="left"><strong>DESCRIPTION</strong></h4>	
                <ul class="my-nav item-text-wrap"  ng-repeat="dec in item.value.details ">
                    <li><p>{{dec}}</p> </li>
                </ul>
            </div>
        
           <div class="span7" ng-show="item.value.detail1">
                <h4 class="title" align="left"><strong>DESCRIPTION</strong></h4>	
                 <pre  class="span7" style="font-family:verdana;background-color: white">{{item.value.detail1}}</pre>
            </div>
        
        
       


            <div class="span7" ng-show="item.value.ingredients">
                <h4 class="title" align="left"><strong>INCREADINS</strong></h4>	
                <ul class="my-nav item-text-wrap"  ng-repeat="inc in item.value.ingredients ">
                    <li><p>{{inc}}</p> </li>
                </ul>
            </div> 
        
            <div class="span7" ng-show="item.value.ingredients1">
                <h4 class="title" align="left"><strong>INCREADINS</strong></h4>	
                <pre  class="span7" style="font-family:verdana;background-color: white">{{item.value.ingredients1}}</pre>
            </div>
            <div class="span7" ng-show="item.value.ingredients">
                <h4 class="title" align="left"><strong>STEPS</strong></h4>	
                <ul class="my-nav item-text-wrap"  ng-repeat="step in item.value.steps ">
                    <li><p>{{step}}</p> </li>
                </ul>
            </div>
         
        
            <div class="span7" ng-show="item.value.steps1">
                <h4 class="title" align="left"><strong>STEPS</strong></h4>	
                 <pre  class="span7" style="font-family:verdana;background-color: white">{{item.value.steps1}}</pre>
            </div>
        </div>	
    
    
       
    
    
    </div>
                    
                       