          
<div class="span9 col" ng-app="scotchApp" ng-controller="mainController">
   <div class="block">								
    <h4 class="title"><strong>CHICKEN</strong>RECIPE</h4>								
     <ul class="thumbnails">												
       <li class="span3"  ng-repeat='item in onam.rows | filter: {key : "ChickenRecipe"} | filter: query'>
        <div class="product-box"  >
            <span class="sale_tag"></span>
            <p><a href="#/chicken/{{(item.key)}}"><img ng-src="{{item.value.imageURL}}" alt="" style="height:150px;"/></a></p>

            <p class="price" href="#/chicken/{{(item.key)}}">{{item.value.name}}</p>
            
     
        </div>
        </li>
    </ul>			
    </div>
</div>    