  				<div id="myCarousel" class="carousel slide" ng-app="scotchApp" ng-controller="mainController">
								
						
						<div class="block">								
							<h4 class="title"><strong>RECIPE</strong>LIST</h4>								
							<ul class="small-product">
							  
                           <span style="font-size: large;"><b><a href="#/all" >ALL RECIPE</a></b></span>
                            <br>
                            <br>
                                <span style="font-size: large;"><b><a href="#/chicken" >CHICKEN RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/fish" >FISH RECIPE</a></b></span>
                            <br>
                            <br>    
                            <span style="font-size: large;"><b><a href="#/beef" >BEEF RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/mutton" >MUTTON RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/ramzan" >RAMZAN RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/onam" >ONAM RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/christmas" >CHRISTMAS RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/veg" >VEG RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/pickle" >PICKLE RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/breakfast" >BREAKFAST RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/nadan" >NADAN VIBHAVANGAL</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/palaharam" >PALAHARAM</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/cake" >CAKE RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/dessert" >DESSERT RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/baked" >BAKED RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/thattukada" >TATTUKADA RECIPE</a></b></span>
                            <br>
                            <br>
                             <span style="font-size: large;"><b><a href="#/biriyani" >BIRIYANI/FRIED RICE RECIPE</a></b></span>
                            <br>
                            <br>
                            <span style="font-size: large;"><b><a href="#/kitchen" >KITCHEN TIPS</a></b></span>
                            <br>
                                
							</ul>
                          
                            
                            
						</div>
					</div> 