<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="utf-8">
		<title>Strawberry Kudumbam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
        
        
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       
        
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
  
        <script src="js/route.js"></script>
          
		<!--[if lt IE 9]>			
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body >		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
									
							<li><a href="register.php">Login</a></li>			
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="./index.html">HOME</a>					
								
							</li>															
							<li><a href="./recipelist.html">RECIPE LIST</a></li>			
							
								
													
							<li><a href="./contact.html">CONTACT</a></li>
							
						</ul>
					</nav>
				</div>
			</section>
				<section class="header_text sub">
			<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
				
			</section>		
	
             
			<section class="our_client">
                
                	<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
                
			
				<div class="row">					
					<div class="span6">
						<a href="add.html"><img alt="" src="themes/images/addrecipe.png"></a>
					</div>
					<div class="span6">
						<a href="add4.html"><img alt="" src="themes/images/recipe_request.png"></a>
					</div>
					
				</div>
                
				<div class="row">					
					<div class="span6">
						<a href="latestnews.html"><img alt="" src="themes/images/latestnews.png"></a>
					</div>
					<div class="span6">
						<a href="latestnews.html"></a>
					</div>
					
				</div>
			</section>
            
            
              <section class="main-content" ng-app="scotchApp" ng-controller="mainController" >
                
                
                
<!--First SCROLL -->                
                
				<div class="row" >
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Chicken <strong>Recipe</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								
                                <div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner" >
										<div class="active item">
                                            
   <!--First SCROLL FIRST SECTION-->       
                                                
                                            
											<ul class="thumbnails" >												
												<li class="span3" ng-repeat='item in onam.rows | limitTo:4  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href=" recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /></a></p>
														<a href="products.html#/alldetails/{{(item.key)}}" class="title">{{item.value.name}}</a><br/>
													</div>
												</li>
                                            </ul>
                                            
										</div>
									
									</div>							
								</div>
                                
                              
                                
                                
                                
                                
							</div>						
						</div>
                    </div>
                  </div>   
						<br/>
                        
                        
  <!--SECOND SCROLL-->                      
                        
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Biriyani <strong>Recipe</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										
                                            
                                            
   <!--SECOND SCROLL FIRST SECTION-->       
                                            
                                        <div class="active item">    
                                           <ul class="thumbnails" >												
												<li class="span3" ng-repeat='item in onam.rows | filter: {key : "BiriyaniRecipe"} | limitTo:4  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href=" recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}"  style="height:150px;" alt="" /></a></p>
														<a href="products.html#/alldetails/{{(item.key)}}" class="title">{{item.value.name}}</a><br/>
													</div>
												</li>
                                            </ul>
                                            
                                          </div>  
											
                                            
    <!--SECOND SCROLL FIRST SECTION END-->                                              
   <!--SECOND SCROLL SECOND SECTION START-->                                                 
                                            
									<div class="item">    
                                            <ul class="thumbnails">												
												<li class="span3"  ng-repeat='item in onam.rows | filter: {key : "FishRecipe"} | limitTo:4  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}"   style="height:150px;" alt="" /></a></p>
														<a href="product_detail.html" class="title">{{item.value.name}}</a><br/>
														
													</div>
												</li>
											
											</ul>
                                            
                                          </div>  
                                        
                        
						
                                        
                                
                
   <!--SECOND SCROLL SECOND SECTION END-->                                                 
									</div>							
								</div>
							</div>						
						</div>
                        
                        
        <!--SECOND SCROLL END-->  
<div class="row">						
    <div class="span4">
      <div class="block">								
            <h4 class="title"><strong>Biriyani</strong> Recipe</h4>								
            <ul class="small-product">
                <li ng-repeat='item in onam.rows |filter: {key : "BiriyaniRecipe"} | limitTo:5' >
                    <a href="recipelist.html#/chicken/{{(item.key)}}"><img ng-src="{{item.value.imageURL}}"   alt="" /></a>
                    <a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name | limitTo:35}}</a>
                </li>
            </ul>
        </div>
      </div>
    <div class="span4">
      <div class="block">								
            <h4 class="title"><strong>Cake</strong> Recipe</h4>								
            <ul class="small-product">
                <li ng-repeat='item in onam.rows |filter: {key : "CakeRecipe"} | limitTo:5' >
                    <a href="recipelist.html#/chicken/{{(item.key)}}"><img ng-src="{{item.value.imageURL}}"   alt="" /></a>
                    <a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name | limitTo:35}}</a>
                </li>
            </ul>
        </div>
      </div>
    <div class="span4">
      <div class="block">								
            <h4 class="title"><strong>Pickle / Chammanthi</strong> Recipe</h4>								
            <ul class="small-product">
               <li ng-repeat='item in onam.rows |filter: {key : "PickleRecipe"} | limitTo:5' >
                    <a href="recipelist.html#/chicken/{{(item.key)}}"><img ng-src="{{item.value.imageURL}}"   alt="" /></a>
                    <a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name | limitTo:35}}</a>
                </li>
            </ul>
        </div>
      </div>
</div>
                                                          
                  
                  

<!--THIRD SCROLL -->                
                
				<div class="row" >
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">FISH <strong>Recipe</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								
                                <div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner" >
										<div class="active item">
                                            
   <!--THIRD SCROLL FIRST SECTION-->       
                                                
                                            
											<ul class="thumbnails" >												
												<li class="span3" ng-repeat='item in onam.rows | filter: {key : "FishRecipe"}  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href="recipelist.html#/chicken/{{(item.id)}}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /></a></p>
														<a href="products.html#/alldetails/{{(item.key)}}" class="title">{{item.value.name}}</a><br/>
													</div>
												</li>
                                            </ul>
                                            
										</div>
									
									</div>							
								</div>
                                
                              
                                
                                
                                
                                
							</div>						
						</div>
                    </div>
                  </div>   
						<br/>
<!--THIRD SCROLL END -->   
                  
                  
                  
<!--FOURTH SCROLL -->                
                
				<div class="row" >
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Cake <strong>Recipe</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								
                                <div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner" >
										<div class="active item">
                                            
   <!--First FOURTH FIRST SECTION-->       
                                                
                                            
											<ul class="thumbnails" >												
												<li class="span3" ng-repeat='item in onam.rows | filter: {key : "CakeRecipe"}  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /></a></p>
														<a href="products.html#/alldetails/{{(item.key)}}" class="title">{{item.value.name}}</a><br/>
													</div>
												</li>
                                            </ul>
                                            
										</div>
									
									</div>							
								</div>
                                
                              
                                
                                
                                
                                
							</div>						
						</div>
                    </div>
                  </div>   
						<br/> 
<!--FOURTH SCROLL END -->                    
                        
                        
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="themes/images/feature_img_2.png" alt="" />
										
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="themes/images/feature_img_1.png" alt="" />
										
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="themes/images/feature_img_3.png" alt="" />
										
									</div>
								</div>
							</div>	
						</div>		
								
				
			</section>
            
           
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>  
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./recipelist.html#/">Recipe List</a></li>
							<li><a href="./recipelist.html#/all">All Recipe</a></li>
							<li><a href="#">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="./recipelist.html#/all">Chicken Recipe</a></li>
                            <li><a href="./recipelist.html#/fish">Fish Recipe</a></li>
                            <li><a href="./recipelist.html#/mutton">Mutton Recipe</a></li>
                            <li><a href="./recipelist.html#/beef">Beef Recipe</a></li>
                            <li><a href="./recipelist.html#/veg">Veg Recipe</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
						<p>Strawberry Kudumbam TM</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2017 Morspin Technology  All right reserved.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
        
        <script src="js/angular-route.min.js"></script>
       
    </body>
</html>