
  <!-- DATA UPLOAD -->  
            <form name="myForm">
                
                
             <div class="control-group" ng-class="{error: myForm.id.$invalid}">
              <div class="span2"><label><strong>Recipe id</strong></label></div>
                <input type="text" id="id"  name="id" ng-model="project.id"  required>
                <span ng-show="myForm.id.$error.required" class="help-inline">
                  Required</span>
              </div>
                
                
                
              <div class="control-group" ng-class="{error: myForm.name.$invalid}">
              <div class="span2"><label><strong>Recipe Name</strong></label></div>
                <input type="text" name="name" ng-model="project.name"  required>
                <span ng-show="myForm.name.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
            <div class="control-group" ng-class="{error: myForm.type.$invalid}">
              <div class="span2"><label><strong>Recipe Type</strong></label></div>
              <select type="text" name="type" ng-model="project.type"  required>
                <option>ChickenRecipe</option>
                <option>FishRecipe</option>
                <option>BeefRecipe</option>
                <option>MuttonRecipe</option>
                <option>OnamRecipe</option>
                <option>ChristmasRecipe</option>
                <option>RamzanRecipe</option>
                <option>CakeRecipe</option>
                <option>PickleRecipe</option>
                <option>BiriyaniRecipe</option>
                <option>VegRecipe</option>
                <option>BreakfastRecipe</option>
                <option>NadanRecipe</option>
                <option>PalaharamRecipe</option>
                <option>DessertRecipe</option>
                <option>ThattukadaRecipe</option>
              </select><span ng-show="myForm.type.$error.required" class="help-inline">
                  Required</span>
            </div>
<br>
                 <div class="control-group" ng-class="{error: myForm.imageURL.$invalid}">
                <div class="span2"><label><strong>Recipe IMAGE URL</strong></label></div>
                
                 <textarea name="imageURL" ng-model="project.imageURL" style="width:100%;" required></textarea>
                </div>
                    
                
            



              <br>
              <div class="control-group" ng-class="{error: myForm.uploadedby.$invalid}">
                <div class="span2"><label><strong>Uploaded By</strong></label></div>
                <input type="text" name="uploadedby" ng-model="project.uploadedby"  required>
                <span ng-show="myForm.uploadedby.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
              <div class="control-group" ng-class="{error: myForm.date.$invalid}">
                <div class="span2"><label><strong>Upload Date</strong></label></div>
                <input type="text" name="date" ng-model="project.date"  required>
                <span ng-show="myForm.date.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
             <div class="control-group" ng-class="{error: myForm.detail1.$invalid}">
            
                 <div class="span2"><label><strong>Recipe Detail</strong></label></div>
             
                <textarea name="detail1" ng-model="project.detail1" style="width:100%;" required></textarea>
               
              </div>    
<br>
              <div class="control-group" ng-class="{error: myForm.ingredients1.$invalid}">
              
                 <div class="span2"><label><strong>Ingredients</strong></label></div>
                
                <textarea name="ingredients1" ng-model="project.ingredients1" style="width:100%;" required></textarea>
                
              </div>
<br>
              <div class="control-group" ng-class="{error: myForm.steps1.$invalid}">
             
                 <div class="span2"><label><strong>Recipe Steps</strong></label></div>
                
                <textarea name="steps1" ng-model="project.steps1" style="width:100%;" required></textarea>
               
              </div>   

<br>


                       
               
              <a href="add.html" class="btn">Cancel</a>
              <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary"  >Save</button>
              <button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button>

            </form> 
            <!-- DATA UPLOAD -->

