<div class="row">				
    <div class="span7">
    <div class="block">								
    <h4 class="title"><strong>RECIPE </strong>DATA</h4>								
    <div class="row">
         <div class="span6">
  <!-- DATA UPLOAD -->  
            <form name="myForm">
              
           
                
                <div class="control-group" ng-class="{error: myForm.name.$invalid}">
              <div class="span2"><label><strong>Recipe Name</strong></label></div>
                <input type="text" name="name" ng-model="project.name"  required>
                <span ng-show="myForm.name.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
            <div class="control-group" ng-class="{error: myForm.type.$invalid}">
              <div class="span2"><label><strong>Recipe Type</strong></label></div>
              <select type="text" name="type" ng-model="project.type"  required>
                <option>ChickenRecipe</option>
                <option>FishRecipe</option>
                <option>BeefRecipe</option>
                <option>MuttonRecipe</option>
                <option>OnamRecipe</option>
                <option>ChristmasRecipe</option>
                <option>RamzanRecipe</option>
                <option>CakeRecipe</option>
                <option>PickleRecipe</option>
                <option>BiriyaniRecipe</option>
                <option>VegRecipe</option>
                <option>BreakfastRecipe</option>
                <option>NadanRecipe</option>
                <option>PalaharamRecipe</option>
                <option>DessertRecipe</option>
                <option>ThattukadaRecipe</option>
              </select><span ng-show="myForm.type.$error.required" class="help-inline">
                  Required</span>
            </div>
<br>
              <div class="control-group" ng-class="{error: myForm.uploadedby.$invalid}">
                <div class="span2"><label><strong>Uploaded By</strong></label></div>
                <input type="text" name="uploadedby" ng-model="project.uploadedby"  required>
                <span ng-show="myForm.uploadedby.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
              <div class="control-group" ng-class="{error: myForm.date.$invalid}">
                <div class="span2"><label><strong>Upload Date</strong></label></div>
                <input type="text" name="date" ng-model="project.date"  required>
                <span ng-show="myForm.date.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
             <div class="control-group" ng-class="{error: myForm.detail.$invalid}">
            
                 <div class="span2"><label><strong>Recipe Detail</strong></label></div>
             
                <textarea name="detail1" ng-model="project.detail1" style="width:100%;" required></textarea>
               
              </div>    
<br>
              <div class="control-group" ng-class="{error: myForm.ingredients1.$invalid}">
              
                 <div class="span2"><label><strong>Ingredients</strong></label></div>
                
                <textarea name="ingredients1" ng-model="project.ingredients1" style="width:100%;" required></textarea>
                
              </div>
<br>
              <div class="control-group" ng-class="{error: myForm.steps1.$invalid}">
             
                 <div class="span2"><label><strong>Recipe Steps</strong></label></div>
                
                <textarea name="steps1" ng-model="project.steps1" style="width:100%;" required></textarea>
               
              </div>   

<br>


                <div>
               <div id="message"></div>
                </div>        
                <div class="control-group" ng-class="{error: myForm.imageURL.$invalid}">
                <div class="span2"><label><strong>Recipe IMAGE URL</strong></label></div>
                
                 <textarea name="imageURL" ng-model="project.imageURL" style="width:100%;" required></textarea>
                </div>
                    
                
            



              <br>
              <a href="#/" class="btn">Cancel</a>
              <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary" >Save</button>
              <button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button>

            </form> 
            <!-- DATA UPLOAD -->

         </div>
    </div>
    </div>
          
        </div>
        <div class="span5">
          <div class="block">								
          <h4 class="title"><strong>RECIPE </strong>IMAGE</h4>								
            <div class="row">
                <div class="span5">
              <!-- IMAGE UPLOAD -->
            <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
            <div id="selectImage">
             <div class="col-md-6">                
                <div class="panel panel-default">
                        <div class="panel-heading">
                           RECIPE IMAGE
                        </div>
                    
                    <div>
               <div id="message"></div>
                </div>     
                        <div class="panel-body">

                    <div class="form-group">

                        <div class="">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
                                <div>
                                    <span class="btn btn-file btn-success"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file" required /></span>
                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>

                                    <button type="submit"  value="Upload" id="save_btn"  class="submit btn btn-info">UPLOAD</button>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="alert alert-warning"><strong>Notice!</strong> Image size should be 800*600 pixel. Size should beless than 100 kb.</div>
                    </div>
                 </div>
            </div>
            </div>
            </form> 
            <!-- IMAGE UPLOAD -->                         

                </div>
            </div>
            </div>
        </div>				
</div>  