<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="utf-8">
		<title>Strawberry Kudumbam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>
        
		<link href="css/tom.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       
        
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
  
        <script src="js/route.js"></script>
        
        

        
          
		<!--[if lt IE 9]>			
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body  ng-app="scotchApp" ng-controller="mainController" >		
		<div id="top-bar" class="container">
			

            
 <!--NEWS EDITING-->             
            <div class="row">
			
                <div class="span2">
                    <span class="pull-left"><span class="text"><span class="line">Latest  <strong>NEWS</strong></span></span></span>
				</div>  

  
            
                <div class="span7">
                <marquee behavior="scroll" direction="left">
                   <a href="resultpass.html" ng-repeat='item in news1.rows'>{{item.value.news11}}</a>
                </marquee>
				</div>
                <div class="span2">
        <span class="social_icons">
            <a href="https://play.google.com/store/apps/details?id=com.ionicframework.strawberry799084" target="_blank"><img src="themes/images/a.jpg" alt=""  style="height:50px;"/></a>
            <a href="https://www.facebook.com/Strawberry-Kudumbam-%E0%B4%B8%E0%B5%8D%E0%B4%9F%E0%B5%8D%E0%B4%B0%E0%B5%87%E0%B4%BE%E0%B4%AC%E0%B4%B1%E0%B4%BF-%E0%B4%95%E0%B5%81%E0%B4%9F%E0%B5%81%E0%B4%82%E0%B4%AC%E0%B4%82-106761783086626/" target="_blank"><img src="themes/images/fb.png" alt=""  style="height:50px;"/></a>
            <a href="https://www.youtube.com/channel/UCZb563OzK-ivAYleNL6c5vA" target="_blank"><img alt="" src="themes/images/y.png" style="height:50px;"></a>
        </span>
    </div>				
                
				<div >
					<div class="account pull-right">
                        
						<ul class="user-menu">				
									
							<li><a href="register.php">Login</a></li>		
						</ul>
					</div>
				</div>
			</div>
            
            
               <!--LINKS-->             

<div >
<div class="span7">  </div> 
<div class="span3">
    <div class="icon-bar" >
  <a class="active" href="#"><i class="fa fa-facebook"></i></a> 
  <a class="active" href="#"><i class="fa fa-search"></i></a> 
  <a class="active" href="#"><i class="fa fa-envelope"></i></a> 
  
</div>
   </div>        <!--LINKS-->
         
  </div>          
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="./index.html">HOME</a>					
								
							</li>															
							<li><a href="./recipelist.html">RECIPE LIST</a>
								<ul>									
									<li><a href="./recipelist.html#/all">All Recipe</a></li>
									<a href="./recipelist.html#/chicken" >CHICKEN RECIPE</a>
                                    <a href="./recipelist.html#/fish" >FISH RECIPE</a>
                                    <a href="./recipelist.html#/beef" >BEEF RECIPE</a>
                                    <a href="./recipelist.html#/mutton" >MUTTON RECIPE</a>
                                    <a href="./recipelist.html#/ramzan" >RAMZAN RECIPE</a>
                                    <a href="./recipelist.html#/onam" >ONAM RECIPE</a>
                                    <a href="./recipelist.html#/christmas" >CHRISTMAS RECIPE</a>
                                    <a href="./recipelist.html#/veg" >VEG RECIPE</a>
                                    <a href="./recipelist.html#/pickle" >PICKLE RECIPE</a>
                                    <a href="./recipelist.html#/breakfast" >BREAKFAST RECIPE</a>
                                    <a href="./recipelist.html#/nadan" >NADAN VIBHAVANGAL</a>
                                    <a href="./recipelist.html#/palaharam" >PALAHARAM</a>
                                    <a href="./recipelist.html#/cake" >CAKE RECIPE</a>
                                    <a href="./recipelist.html#/dessert" >DESSERT RECIPE</a>
                                    <a href="./recipelist.html#/baked" >BAKED RECIPE</a>
                                    <a href="./recipelist.html#/thattukada" >TATTUKADA RECIPE</a>
                                    <a href="./recipelist.html#/biriyani" >BIRIYANI/FRIED RICE RECIPE</a>
                                    <b><a href="./recipelist.html#/kitchen" >KITCHEN TIPS</a></b>
                            <br>
                                
							</ul>
                                
                                
							</li>			
							
                            <li>
                            <a href="./download.html">DOWNLOAD</a></li>
								
													
							<li><a href="./contact.html">CONTACT</a></li>
							
						</ul>
					</nav>
				</div>
			</section>
			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="themes/images/carousel/banner-1.jpg" alt="" />
						</li>
						<li>
							<img src="themes/images/carousel/banner-2.jpg" alt="" />
							<div class="intro">
								<h1>Strawberry Kudumbam</h1>
								<p><span>All Types of Recipe</span></p>
								<p><span>Classis Crusines</span></p>
							</div>
						</li>
					</ul>
				</div>			
			</section>
			<section class="header_text">
				WE Provide the best recipe. 
				<br/>Please download our android and ios app from the store
			</section>
	
            
              <section class="main-content" >
                
   <!--             
  <div class="row feature_box">						
							<div class="span4 wrapper1">
								<div class="service">
									<div class="responsive">	
										<a href="https://play.google.com/store/apps/details?id=com.ionicframework.strawberry799084"><img src="themes/images/a.jpg" alt="" /></a>
										<h3>ANDROID</h3>
									</div>
								</div>
							</div>
							<div class="span4 wrapper1">	
								<div class="service">
									<div class="customize">			
                                        <a href="https://www.facebook.com/Strawberry-Kudumbam-%E0%B4%B8%E0%B5%8D%E0%B4%9F%E0%B5%8D%E0%B4%B0%E0%B5%87%E0%B4%BE%E0%B4%AC%E0%B4%B1%E0%B4%BF-%E0%B4%95%E0%B5%81%E0%B4%9F%E0%B5%81%E0%B4%82%E0%B4%AC%E0%B4%82-106761783086626/"><img src="themes/images/f.png" alt="" /></a>
										<h3>FACEBOOK</h3>
									</div>
								</div>
							</div>
							<div class="span4" wrapper1>
								<div class="service ">
									<div class="support">	
										<a href="https://www.youtube.com/channel/UCZb563OzK-ivAYleNL6c5vA"><img alt="" src="themes/images/y.png"></a>
										<h3>YOUTUBE</h3>
									</div>
								</div>
							</div>	
						</div>	    
-->
<!--First SCROLL -->                
<div class="row">
    <div class="span12">
        <h4 class="title">
        <span class="pull-left"><span class="text"><span class="line">All <strong>Recipe</strong></span></span></span>

        </h4>

        <div class="scrollmenu wrapper">
        <a ng-repeat='item in onam.rows ' href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /><p>{{item.value.name}}</p></a>

        </div>
    </div>						
</div>	
                  
                  
<div class="row">
    <div class="span12">
        <h4 class="title">
        <span class="pull-left"><span class="text"><span class="line">Chicken <strong>Recipe</strong></span></span></span>

        </h4>

        <div class="scrollmenu wrapper">
        <a ng-repeat='item in onam.rows | filter: {key : "ChickenRecipe"}' href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /><p>{{item.value.name}}</p></a>

        </div>
    </div>						
</div>
 
						<br/>
                        
                        
  <!--SECOND SCROLL-->                      
                        
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Biriyani <strong>Recipe</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										
                                            
                                            
   <!--SECOND SCROLL FIRST SECTION-->       
                                            
                                        <div class="active item">    
                                           <ul class="thumbnails" >												
												<li class="span3" ng-repeat='item in onam.rows | filter: {key : "BiriyaniRecipe"} | limitTo:4  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href=" recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}"  style="height:150px;" alt="" /></a></p>
														<a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name}}</a><br/>
													</div>
												</li>
                                            </ul>
                                            
                                          </div>  
											
                                            
    <!--SECOND SCROLL FIRST SECTION END-->                                              
   <!--SECOND SCROLL SECOND SECTION START-->                                                 
                                            
									<div class="item">    
                                            <ul class="thumbnails">												
												<li class="span3"  ng-repeat='item in onam.rows | filter: {key : "FishRecipe"} | limitTo:4  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}"   style="height:150px;" alt="" /></a></p>
														<a href="product_detail.html" class="title">{{item.value.name}}</a><br/>
														
													</div>
												</li>
											
											</ul>
                                            
                                          </div>  
                                        
                        
						
                                        
                                
                
   <!--SECOND SCROLL SECOND SECTION END-->                                                 
									</div>							
								</div>
							</div>						
						</div>
                        
                        
        <!--SECOND SCROLL END-->  
<div class="row">						
    <div class="span4">
      <div class="block">								
            <h4 class="title"><strong>Biriyani</strong> Recipe</h4>								
            <ul class="small-product">
                <li ng-repeat='item in onam.rows |filter: {key : "BiriyaniRecipe"} | limitTo:5' >
                    <a href="recipelist.html#/chicken/{{(item.id)}}}"><img ng-src="{{item.value.imageURL}}"   alt="" /></a>
                    <a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name | limitTo:35}}</a>
                </li>
            </ul>
        </div>
      </div>
    <div class="span4">
      <div class="block">								
            <h4 class="title"><strong>Cake</strong> Recipe</h4>								
            <ul class="small-product">
                <li ng-repeat='item in onam.rows |filter: {key : "CakeRecipe"} | limitTo:5' >
                    <a href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}"   alt="" /></a>
                    <a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name | limitTo:35}}</a>
                </li>
            </ul>
        </div>
      </div>
    <div class="span4">
      <div class="block">								
            <h4 class="title"><strong>Pickle / Chammanthi</strong> Recipe</h4>								
            <ul class="small-product">
               <li ng-repeat='item in onam.rows |filter: {key : "PickleRecipe"} | limitTo:5' >
                    <a href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}"   alt="" /></a>
                    <a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name | limitTo:35}}</a>
                </li>
            </ul>
        </div>
      </div>
</div>
                                                          
                  
                  

<!--THIRD SCROLL -->                
                
				<div class="row" >
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">FISH <strong>Recipe</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								
                                <div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner" >
										<div class="active item">
                                            
   <!--THIRD SCROLL FIRST SECTION-->       
                                                
                                            
											<ul class="thumbnails" >												
												<li class="span3" ng-repeat='item in onam.rows | filter: {key : "FishRecipe"}  '>
													<div class="product-box"  >
                                                        <span class="sale_tag"></span>
														<p><a href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /></a></p>
														<a href="recipelist.html#/chicken/{{(item.id)}}" class="title">{{item.value.name}}</a><br/>
													</div>
												</li>
                                            </ul>
                                            
										</div>
									
									</div>							
								</div>
                                
                              
                                
                                
                                
                                
							</div>						
						</div>
                    </div>
                  </div>   
						<br/>
<!--THIRD SCROLL END -->   
                  
                  
                  
<!--FOURTH SCROLL -->                
                
<div class="row">
    <div class="span12">
        <h4 class="title">
        <span class="pull-left"><span class="text"><span class="line">Cake <strong>Recipe</strong></span></span></span>
        </h4>

<!--First 5 FIRST SECTION-->       
        <div class="scrollmenu wrapper">
        <a ng-repeat='item in onam.rows | filter: {key : "CakeRecipe"}' href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /><p>{{item.value.name}}</p></a>

        </div>
    </div>						
</div>   
                         
 
						<br/> 
<!--FOURTH SCROLL END -->                    
                        
                  
<!--FIFTH SCROLL -->                
			
<div class="row">
    <div class="span12">
        <h4 class="title">
        <span class="pull-left"><span class="text"><span class="line">Fish <strong>Recipe</strong></span></span></span>
        </h4>

<!--First 5 FIRST SECTION-->       
        <div class="scrollmenu wrapper">
        <a ng-repeat='item in onam.rows | filter: {key : "FishRecipe"}' href="recipelist.html#/chicken/{{(item.id)}}"><img ng-src="{{item.value.imageURL}}" alt=""  style="height:150px;" /><p>{{item.value.name}}</p></a>

        </div>
    </div>						
</div>   
                  
                  
						<br/> 
<!--5 SCROLL END -->                    
                                       
                        
						<div class="row feature_box">						
							<div class="span4 wrapper1">
								<div class="service">
									<div class="responsive">	
										<a href="https://play.google.com/store/apps/details?id=com.ionicframework.strawberry799084"><img src="themes/images/a.jpg" alt="" /></a>
										<h3>ANDROID</h3>
									</div>
								</div>
							</div>
							<div class="span4 wrapper1">	
								<div class="service">
									<div class="customize">			
                                        <a href="https://www.facebook.com/Strawberry-Kudumbam-%E0%B4%B8%E0%B5%8D%E0%B4%9F%E0%B5%8D%E0%B4%B0%E0%B5%87%E0%B4%BE%E0%B4%AC%E0%B4%B1%E0%B4%BF-%E0%B4%95%E0%B5%81%E0%B4%9F%E0%B5%81%E0%B4%82%E0%B4%AC%E0%B4%82-106761783086626/"><img src="themes/images/f.png" alt="" /></a>
										<h3>FACEBOOK</h3>
									</div>
								</div>
							</div>
							<div class="span4" wrapper1>
								<div class="service ">
									<div class="support">	
										<a href="https://www.youtube.com/channel/UCZb563OzK-ivAYleNL6c5vA"><img alt="" src="themes/images/y.png"></a>
										<h3>YOUTUBE</h3>
									</div>
								</div>
							</div>	
						</div>		
								
				
			</section>
            
            
			<section class="our_client">
				<h4 class="title"><span class="text"></span></h4>
				<div class="row">					
					<div class="span2">
						<a href="./recipelist.html#/fish"><img alt="" src="themes/images/clients/14.png"></a>
					</div>
					<div class="span2">
						<a href="./recipelist.html#/christmas"><img alt="" src="themes/images/clients/35.png"></a>
					</div>
					<div class="span2">
						<a href="./recipelist.html#/ramzan"><img alt="" src="themes/images/clients/1.png"></a>
					</div>
					<div class="span2">
						<a href="./recipelist.html#/christmas"><img alt="" src="themes/images/clients/2.png"></a>
					</div>
					<div class="span2">
						<a href="./recipelist.html#/mutton"><img alt="" src="themes/images/clients/3.png"></a>
					</div>
					<div class="span2">
						<a href="./recipelist.html#/onam"><img alt="" src="themes/images/clients/4.png"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>  
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./recipelist.html#/">Recipe List</a></li>
							<li><a href="./recipelist.html#/all">All Recipe</a></li>
							<li><a href="#">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="./recipelist.html#/all">Chicken Recipe</a></li>
                            <li><a href="./recipelist.html#/fish">Fish Recipe</a></li>
                            <li><a href="./recipelist.html#/mutton">Mutton Recipe</a></li>
                            <li><a href="./recipelist.html#/beef">Beef Recipe</a></li>
                            <li><a href="./recipelist.html#/veg">Veg Recipe</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
						<p>Strawberry Kudumbam TM</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">APPLE STORE</a>
							<a class="twitter" href="https://play.google.com/store/apps/details?id=com.ionicframework.strawberry799084">PLAY STORE</a>
							<a class="skype" href="https://www.facebook.com/Strawberry-Kudumbam-%E0%B4%B8%E0%B5%8D%E0%B4%9F%E0%B5%8D%E0%B4%B0%E0%B5%87%E0%B4%BE%E0%B4%AC%E0%B4%B1%E0%B4%BF-%E0%B4%95%E0%B5%81%E0%B4%9F%E0%B5%81%E0%B4%82%E0%B4%AC%E0%B4%82-106761783086626/">FACEBOOK</a>
							<a class="vimeo" href="https://www.youtube.com/channel/UCZb563OzK-ivAYleNL6c5vA">YOUTUBE</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2017 Morspin Technology  All right reserved.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
        
        <script src="js/angular-route.min.js"></script>
       
    </body>
</html>