<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Description</th>
      <th><a href="add3.html"><button class="btn btn-primary" href="add3.html">New Item</button></a>
        
        
        </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in projects.rows | filter:search | orderBy:'doc.name'">
      <td><a href="{{project.doc.site}}" target="_blank">{{project.doc.name}}</a>
       </td>
      <td>{{project.doc.description}}</td>
      <td>
        <a href="#/edit/{{project.doc._id}}"><button class="btn btn-primary" href="#/new">Edit</button></a>
      </td>
    
    </tr>
  </tbody>
</table>
<!----
<pre>{{projects|json}}</pre>
-->