
  <!-- DATA UPLOAD -->  
            <form name="myForm">
                
                
           

 <div class="control-group" ng-class="{error: myForm.news11.$invalid}">
              
                 <div class="span2"><label><strong>LATEST NEWS</strong></label></div>
                
                <textarea name="news11" ng-model="project.news11" style="width:100%;" required></textarea>
                
              </div>
<br>

                       
               
              <a href="add.html" class="btn">Cancel</a>
              <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary"  >Save</button>
              <button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button>

            </form> 
            <!-- DATA UPLOAD -->

