<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>LATEST NEWS</th>
     
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in projects.rows | filter:search | orderBy:'doc.name'">
    
      <td>{{project.doc.news11}}</td>
      <td>
        <a href="#/edit/{{project.doc._id}}"><button class="btn btn-primary" href="#/new">Edit</button></a>
      </td>
    
    </tr>
  </tbody>
</table>
<!----
<pre>{{projects|json}}</pre>
-->