<div class="row">				
    <div class="span7">
    <div class="block">								
    <h4 class="title"><strong>RECIPE </strong>DATA</h4>								
    <div class="row">
         <div class="span6">
  <!-- DATA UPLOAD -->  
            <form name="myForm">
              <div class="control-group" ng-class="{error: myForm.name.$invalid}">
              <div class="span2"><label><strong>Name</strong></label></div>
                <input type="text" name="name" ng-model="project.name"  required>
                <span ng-show="myForm.name.$error.required" class="help-inline">
                  Required</span>
              </div>
<br>
                 <div class="control-group" ng-class="{error: myForm.date.$invalid}">
              <div class="span2"><label><strong>Date</strong></label></div>
                <input type="text" name="date" ng-model="project.date"  required>
                <span ng-show="myForm.date.$error.required" class="help-inline">
                  Required</span>
              </div>
          
<br>
                 <div class="control-group" ng-class="{error: myForm.recipe.$invalid}">
              <div class="span2"><label><strong>Recipe Name</strong></label></div>
                <input type="text" name="recipe" ng-model="project.name"  required>
                <span ng-show="myForm.recipe.$error.required" class="help-inline">
                  Required</span>
              </div>
             </form>
            
            </div>
            </div>
        </div>				
</div>  