<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rquested Date</th>
      <th>Rquested Recipe</th>
      
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in projects.rows | filter:search | orderBy:'doc.name'">
      <td>{{project.doc.name}}
       </td>
      <td>{{project.doc.date}}</td> <td>{{project.doc.recipe}}</td>
     
    
    </tr>
  </tbody>
</table>
<!----
<pre>{{projects|json}}</pre>
-->